<div id="main"></div>
<script src="elm/dogepark.js"></script>
<script>
    var node = document.getElementById('main');
    var app = Elm.DogePark.embed(node, {
    	address: "<%= address %>",
	username: "<%= username %>",
	token: "<%= token %>"
    });
</script>