<div id="main"></div>
<script src="elm/dogepark.js"></script>
<script>
    var node = document.getElementById('main');
    var app = Elm.DogePark.init({
    	node: node,
	flags: {token: "<%= token %>"}	
    });
</script>